@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@400;900&family=Montserrat:wght@400;900&family=Noto+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body {
    background-image: url(./img/arranjo-de-vista-superior-de-elementos-de-cinema-em-fundo-amarelo-com-espaco-de-copia.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: yellow;
}
    

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: yellow;
    padding: 0 15%;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav div {
    margin-top: 15px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav img {
    width: 50px;
}
nav li {
    animation: fromLeft 1.2s;
    transition: all .1s;
    margin-left: 50px;
    font-size: 32px;
    font-weight: 700;
}
nav li:hover {
    transform: scale(1.1);
}
nav li a {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1rem;  
    border-radius: 8px;
    color: #8818c9;
    text-shadow: 1px 2px #afe25c;
    display: block;
    padding: 10px;
}
header {
    padding-top: 100px;
    height: calc(120px + 32px);
    
}
header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(-90deg, #8818c9 0%,#8818c9 50%, #afe25c 55%);
    border-radius: 50%;
    display: flex;
    padding: 4px 4px 0 4px;
    animation: fromRight 1.2s .2s backwards;
    transition: all .3s;
}
header div:hover {
    transform: scale(1.1);
}
header img {
    width: 100%;
    border-radius: 50%;
}
main {
    max-width: 700px;
    margin: 32px auto;
    width: 90%;
    display: grid;
    gap: 24px;
    padding-top: 100px;
}
main section {
    background-image: linear-gradient(90deg, #8818c9 0%,#8818c9 50%, #afe25c 55%);
    padding-top: 4px;
    border-radius: 12px;
}
main section:nth-child(1) {
    animation: fromLeft 1.2s .4s backwards;
}
main section:nth-child(2) {
    animation: fromRight 1.2s .6s backwards;
}
main section:nth-child(3) {
    animation: fromLeft 1.2s .8s backwards;
}
main section:nth-child(4) {
    animation: fromRight 1.2s .9.9s backwards;
}
main section:nth-child(5) {
    animation: fromLeft 1.2s .9.9s backwards;
}
main section div {
    background: #262629;
    padding: 24px 32px 32px 32px;
    border-radius: 8px;

}
main section h2 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 24px;
    line-height: 160%;
}
main section p {
    color: #C1C1C1;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
main ul li {
    transition: all .3s;
}
main ul li:hover {
    transform: scale(1.1);
}
main section img {
    width: 100px;
    border: 1px solid #555555;
    border-radius: 8px;
}
section ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    
}
#github-icon {
    border: 3px solid #ece9e9;
    width: 35px;
    height: 35px;
}
#minhas-redes li {
    transition: all .3s;
}
#minhas-redes li:hover {
    transform: scale(1.2);
}
.div-button {
    transition: all .3s;
    max-width: 50px;
    margin: 80px auto;
}
.div-button:hover {
    transform: scale(1.1);
}
.div-button img {
    width: 20px;
}
.div-button button {
    color: #FFFFFF;
    background: #8818c9;
    border-radius: 8px;
    border: none;
    padding: 15px;
    cursor: pointer;
}
@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);    
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (max-width:700px) {
    nav {
        height: 50px;
        padding: 0 2%;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
    }
    nav div {
        display: none;
    }
    nav li {
        margin-left: 0;
    }
    nav li a {
        font-size: 0.5rem;
    }
    main section div {
        text-align: center;
    }
    main section ul {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width:701px) and (max-width:1165px) {
    nav {
        height: 50px;
        padding: 0 10%;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
    }
    nav div {
        display: none;
    }
    nav li {
        margin-left: 0;
    }
    nav li a {
        font-size: 1rem;
    }
}

.des{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.des span{
   font-size: 18px;
   font-weight: 900;
}

